.card {
    max-width: 95%;
    width: 65rem;
    padding: 1rem;
    margin: 15px auto;
    background: #282828;
    border: 1px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 10px;
}